<style>
  /* Appliquer la couleur au titre h1 */
  h2 {
    color: rgb(19, 97, 128); /* Remplacez "blue" par la couleur de votre choix */
  }
  /* P {
      font-size: 22px;
    } */
  .header-container {
    text-align: center; /* Aligner horizontalement le contenu du conteneur */
  }
  .header-container h2 {
    margin: 0 0 0 13px; /* Ajuster la marge à votre convenance */
    display: inline-block; /* Permettre à l'élément d'être sur la même ligne que l'image */
  }
  .header-container img {
    max-width: 13%;
    height: auto;
  }
</style>

<div class="header-container">
  <!-- Image -->
  <img src="content/images/logo-cnss.png" alt="Description de l'image" />

  <!-- Titre -->
  <h2 class="display-4"><span>Agent</span></h2>
</div>

<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="agent">
      <h2 data-cy="agentDetailsHeading"><span jhiTranslate="immobilisationApp.agent.detail.title">Agent</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ agent.id }}</span>
        </dd>
        <dt><span jhiTranslate="immobilisationApp.agent.matricule">Matricule</span></dt>
        <dd>
          <span>{{ agent.matricule }}</span>
        </dd>
        <dt><span jhiTranslate="immobilisationApp.agent.nomUtilisateur">Nom Utilisateur</span></dt>
        <dd>
          <span>{{ agent.nomUtilisateur }}</span>
        </dd>
        <dt><span jhiTranslate="immobilisationApp.agent.prenomUtilisateur">Prenom Utilisateur</span></dt>
        <dd>
          <span>{{ agent.prenomUtilisateur }}</span>
        </dd>
        <dt><span jhiTranslate="immobilisationApp.agent.poste">Poste</span></dt>
        <dd>
          <span>{{ agent.poste }}</span>
        </dd>
        <dt><span jhiTranslate="immobilisationApp.agent.adresse">Adresse</span></dt>
        <dd>
          <span>{{ agent.adresse }}</span>
        </dd>
        <dt><span jhiTranslate="immobilisationApp.agent.telephone">Telephone</span></dt>
        <dd>
          <span>{{ agent.telephone }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/agent', agent.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
