<div>
  <h2 id="page-heading" data-cy="ImmobilisationHeading">
    <span jhiTranslate="immobilisationApp.immobilisation.home.title">Immobilisations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="immobilisationApp.immobilisation.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-immobilisation"
        [routerLink]="['/immobilisation/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="immobilisationApp.immobilisation.home.createLabel"> Créer un nouveau Immobilisation </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="immobilisations?.length === 0">
    <span jhiTranslate="immobilisationApp.immobilisation.home.notFound">Aucun Immobilisation trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="immobilisations && immobilisations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nom">
            <div class="d-flex">
              <span jhiTranslate="immobilisationApp.immobilisation.nom">Nom</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="immobilisationApp.immobilisation.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="valeur">
            <div class="d-flex">
              <span jhiTranslate="immobilisationApp.immobilisation.valeur">Valeur</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="etat">
            <div class="d-flex">
              <span jhiTranslate="immobilisationApp.immobilisation.etat">Etat</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="quantite">
            <div class="d-flex">
              <span jhiTranslate="immobilisationApp.immobilisation.quantite">Quantite</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateAcquisition">
            <div class="d-flex">
              <span jhiTranslate="immobilisationApp.immobilisation.dateAcquisition">Date Acquisition</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="typeAmortissement">
            <div class="d-flex">
              <span jhiTranslate="immobilisationApp.immobilisation.typeAmortissement">Type Amortissement</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dureeAmortissement">
            <div class="d-flex">
              <span jhiTranslate="immobilisationApp.immobilisation.dureeAmortissement">Duree Amortissement</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="categorie.id">
            <div class="d-flex">
              <span jhiTranslate="immobilisationApp.immobilisation.categorie">Categorie</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="gestion.id">
            <div class="d-flex">
              <span jhiTranslate="immobilisationApp.immobilisation.gestion">Gestion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let immobilisation of immobilisations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/immobilisation', immobilisation.id, 'view']">{{ immobilisation.id }}</a>
          </td>
          <td>{{ immobilisation.nom }}</td>
          <td class="text-break">{{ immobilisation.description }}</td>
          <td>{{ immobilisation.valeur }}</td>
          <td>{{ immobilisation.etat }}</td>
          <td>{{ immobilisation.quantite }}</td>
          <td>{{ immobilisation.dateAcquisition | formatMediumDatetime }}</td>
          <td>{{ immobilisation.typeAmortissement }}</td>
          <td>{{ immobilisation.dureeAmortissement }}</td>
          <td>
            <div *ngIf="immobilisation.categorie">
              <a [routerLink]="['/categorie', immobilisation.categorie.id, 'view']">{{ immobilisation.categorie.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="immobilisation.gestion">
              <a [routerLink]="['/gestion', immobilisation.gestion.id, 'view']">{{ immobilisation.gestion.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="container mt-5">
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-primary dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <fa-icon icon="list"></fa-icon>
                </button>
                <div class="dropdown-menu">
                  <button
                    type="submit"
                    [routerLink]="['/immobilisation', immobilisation.id, 'view']"
                    class="btn btn-info btn-sm dropdown-item"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/immobilisation', immobilisation.id, 'edit']"
                    class="btn btn-primary btn-sm dropdown-item"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </button>
                  <button
                    type="submit"
                    (click)="delete(immobilisation)"
                    class="btn dropdown-item btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="immobilisations && immobilisations.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
