<div>
  <h2 id="page-heading" data-cy="LocaliteHeading">
    <span jhiTranslate="immobilisationApp.localite.home.title">Localites</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="immobilisationApp.localite.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-localite"
        [routerLink]="['/localite/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="immobilisationApp.localite.home.createLabel"> Créer un nouveau Localite </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="localites?.length === 0">
    <span jhiTranslate="immobilisationApp.localite.home.notFound">Aucun Localite trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="localites && localites.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nomLocalite">
            <div class="d-flex">
              <span jhiTranslate="immobilisationApp.localite.nomLocalite">Nom Localite</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="codePostal">
            <div class="d-flex">
              <span jhiTranslate="immobilisationApp.localite.codePostal">Code Postal</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let localite of localites; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/localite', localite.id, 'view']">{{ localite.id }}</a>
          </td>
          <td>{{ localite.nomLocalite }}</td>
          <td>{{ localite.codePostal }}</td>
          <td class="text-end">
            <div class="container mt-5">
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-primary dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <fa-icon icon="list"></fa-icon>
                </button>
                <div class="dropdown-menu">
                  <button type="submit" [routerLink]="['/localite', localite.id, 'view']" class="btn btn-info btn-sm dropdown-item">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/localite', localite.id, 'edit']"
                    class="btn btn-primary btn-sm dropdown-item"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </button>
                  <button type="submit" (click)="delete(localite)" class="btn dropdown-item btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="localites && localites.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
