<style>
  /* Appliquer la couleur au titre h1 */
  h2 {
    color: rgb(19, 97, 128); /* Remplacez "blue" par la couleur de votre choix */
  }
  /* P {
      font-size: 22px;
    } */
  .header-container {
    text-align: center; /* Aligner horizontalement le contenu du conteneur */
  }
  .header-container h2 {
    margin: 0 0 0 13px; /* Ajuster la marge à votre convenance */
    display: inline-block; /* Permettre à l'élément d'être sur la même ligne que l'image */
  }
  .header-container img {
    max-width: 13%;
    height: auto;
  }
</style>

<div class="header-container">
  <!-- Image -->
  <img src="content/images/logo-cnss.png" alt="Description de l'image" />

  <!-- Titre -->
  <h2 class="display-4"><span>Maintenance</span></h2>
</div>

<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="maintenance">
      <h2 data-cy="maintenanceDetailsHeading"><span jhiTranslate="immobilisationApp.maintenance.detail.title">Maintenance</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ maintenance.id }}</span>
        </dd>
        <dt><span jhiTranslate="immobilisationApp.maintenance.dateMaintenance">Date Maintenance</span></dt>
        <dd>
          <span>{{ maintenance.dateMaintenance | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="immobilisationApp.maintenance.description">Description</span></dt>
        <dd>
          <span>{{ maintenance.description }}</span>
        </dd>
        <dt><span jhiTranslate="immobilisationApp.maintenance.responsable">Responsable</span></dt>
        <dd>
          <span>{{ maintenance.responsable }}</span>
        </dd>
        <dt><span jhiTranslate="immobilisationApp.maintenance.coutMaintenance">Cout Maintenance</span></dt>
        <dd>
          <span>{{ maintenance.coutMaintenance }}</span>
        </dd>
        <dt><span jhiTranslate="immobilisationApp.maintenance.immobilisation">Immobilisation</span></dt>
        <dd>
          <div *ngIf="maintenance.immobilisation">
            <a [routerLink]="['/immobilisation', maintenance.immobilisation.id, 'view']">{{ maintenance.immobilisation.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/maintenance', maintenance.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
